extends layout

block content
  .container.container--login 
    img.logo(src="/images/logo.png", alt="Logo")
    .form.form--login 
      p.label Login 
      p.sub-label Enter your information
      input.field#email(type="text" placeholder="E-mail address")
      .icon
        img.icon--eye(src="/images/eye.svg", alt="eye")
        input.field#password(type="password" placeholder="Password")
      button.button.button--login Log in
    p.disclaimer No account yet? #[a(href="/signup") Sign up] for an account
  .popup
    .container.container--popup
      strong.popup-title Login error 
      p.popup-text Error message
      button.button.button--popup Ok
  script(src="/javascripts/login.js") 