extends layout

block content
  .background
    .container--margin
        h1.transaction_header= 'Transaction'
        .form.form--transaction 
            .icon
                img.icon--eye(src="/images/search.svg", alt="magnifying glass")
                input.form__field#transaction_name(type="text" placeholder="Name")
            .coins
                p.form__label Coins 
                input.form__field#transaction_amount(type="number" placeholder="00,00")
            select#transaction_type(name="transaction_type")
                option(value='0', selected= true, disabled) Choose transaction type...
                option(value='Development help') Development help
                option(value='Design help') Design help
                option(value='Feedback') Feedback
                option(value='Meeting deadlines') Meeting deadlines
                option(value='Other') Other
            textarea.form__field#transaction_comment(placeholder="Extra comment (optional)" name="transaction_comment", cols="30", rows="6")
        button.button.button--primary.button--sendTransaction Send transaction 

    .nav
        a(href='/')
            <svg class="icon--homepage" width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2708 0.58917C11.8486 0.209842 11.3011 0 10.7335 0C10.1659 0 9.6184 0.209842 9.19621 0.58917L0.762134 8.16757C0.522334 8.38321 0.330561 8.64688 0.199262 8.94144C0.0679635 9.236 7.38485e-05 9.55488 0 9.87739V20.696C0 21.3061 0.242342 21.8911 0.673714 22.3225C1.10509 22.7539 1.69015 22.9962 2.3002 22.9962H5.36714C5.97719 22.9962 6.56226 22.7539 6.99363 22.3225C7.425 21.8911 7.66734 21.3061 7.66734 20.696V14.5621C7.66734 14.3588 7.74812 14.1638 7.89191 14.02C8.0357 13.8762 8.23073 13.7954 8.43408 13.7954H13.0345C13.2378 13.7954 13.4329 13.8762 13.5766 14.02C13.7204 14.1638 13.8012 14.3588 13.8012 14.5621V20.696C13.8012 21.3061 14.0436 21.8911 14.4749 22.3225C14.9063 22.7539 15.4914 22.9962 16.1014 22.9962H19.1684C19.7784 22.9962 20.3635 22.7539 20.7948 22.3225C21.2262 21.8911 21.4686 21.3061 21.4686 20.696V9.87739C21.4685 9.55488 21.4006 9.236 21.2693 8.94144C21.138 8.64688 20.9462 8.38321 20.7064 8.16757L12.2723 0.58917H12.2708Z" fill="#DEDEDE"/>
            </svg>
        a(href='/transaction').nav__link--active.nav__link--active--orange
            <svg class="icon--transactionpage" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.132 16.4099C12.3149 16.2296 12.4187 15.9839 12.4205 15.727C12.4223 15.4701 12.322 15.223 12.1416 15.04C11.9612 14.8571 11.7156 14.7533 11.4587 14.7515C11.2017 14.7497 10.9546 14.85 10.7717 15.0304L7.14434 18.6192L7.14434 1.36023C7.14434 1.10437 7.0427 0.85899 6.86178 0.678069C6.68086 0.497148 6.43547 0.395508 6.17961 0.395508C5.92375 0.395508 5.67837 0.497148 5.49745 0.678069C5.31653 0.85899 5.21489 1.10437 5.21489 1.36023L5.21489 18.6192L1.6454 15.0304C1.55545 14.9411 1.44879 14.8703 1.33151 14.8223C1.21423 14.7742 1.08862 14.7496 0.961862 14.7501C0.835102 14.7505 0.709671 14.7759 0.592732 14.8249C0.475792 14.8738 0.369634 14.9453 0.280318 15.0352C0.191001 15.1252 0.120278 15.2318 0.072182 15.3491C0.0240872 15.4664 -0.000436493 15.592 1.07743e-05 15.7188C0.000458996 15.8455 0.0258687 15.9709 0.0747912 16.0879C0.123714 16.2048 0.195191 16.311 0.28514 16.4003L6.17961 22.2948L12.132 16.4099Z" fill="#DEDEDE"/>
                <path d="M10.569 6.57942C10.5679 6.77104 10.6238 6.95865 10.7298 7.11833C10.8357 7.27801 10.9868 7.40253 11.1637 7.47601C11.3407 7.54949 11.5356 7.5686 11.7234 7.53091C11.9113 7.49322 12.0837 7.40043 12.2187 7.26438L15.8267 3.68525L15.8267 20.9345C15.8267 21.1904 15.9284 21.4358 16.1093 21.6167C16.2902 21.7976 16.5356 21.8993 16.7915 21.8993C17.0473 21.8993 17.2927 21.7976 17.4736 21.6167C17.6545 21.4358 17.7562 21.1904 17.7562 20.9345L17.7562 3.68525L21.3546 7.26438C21.4446 7.3537 21.5512 7.42442 21.6685 7.47252C21.7858 7.52061 21.9114 7.54513 22.0381 7.54469C22.1649 7.54424 22.2903 7.51883 22.4073 7.4699C22.5242 7.42098 22.6304 7.34951 22.7197 7.25956C22.809 7.16961 22.8797 7.06295 22.9278 6.94566C22.9759 6.82838 23.0004 6.70277 23 6.57601C22.9991 6.32001 22.8965 6.07485 22.7149 5.89447L16.7915 -2.71384e-07L10.868 5.89447C10.7751 5.98301 10.7008 6.08919 10.6495 6.20681C10.5981 6.32442 10.5708 6.4511 10.569 6.57942Z" fill="#DEDEDE"/>
            </svg>
            .nav__link.nav__link--orange Transaction
        a(href='/history')
            <svg class="icon--historypage" width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.2 0V6.9C9.2 7.51 9.44232 8.09501 9.87365 8.52635C10.305 8.95768 10.89 9.2 11.5 9.2H18.4V20.7C18.4 21.31 18.1577 21.895 17.7263 22.3263C17.295 22.7577 16.71 23 16.1 23H2.3C1.69 23 1.10499 22.7577 0.673654 22.3263C0.242321 21.895 0 21.31 0 20.7V2.3C0 1.69 0.242321 1.10499 0.673654 0.673654C1.10499 0.242321 1.69 0 2.3 0H9.2Z" fill="#DEDEDE"/>
                <path d="M10.925 0.574951V6.89995C10.925 7.05245 10.9856 7.1987 11.0934 7.30654C11.2012 7.41437 11.3475 7.47495 11.5 7.47495H17.825L10.925 0.574951Z" fill="#DEDEDE"/>
            </svg>
    
    .popup
        .container.container--popup
            strong.popup-title Transaction error 
            p.popup-text Error message
            button.button.button--popup Ok

    .autocomplete-list

  script(src="/javascripts/primus.js")
  script(src="/javascripts/transaction.js")