$white: #FFFFFF;
$fakeblack: #424242;
$grayish: #CCCCCC;
$lightgray: #C4C4C4;
$coolblue: #25CED1;
$fadedblue: rgba(37, 206, 209, 0.33);
$tomatored: #EA526F;
$fadedred: rgba(234, 82, 111, 0.33);
$fruitorange: #FA885A;
$fadedorange: rgba(250, 136, 90, 0.33);
$moneygreen: #6DD797;
$fadedgreen: rgba(109, 215, 151, 0.33);
$grapepurple: #B66AE4;
$fadedpurple: rgba(182, 106, 228, 0.33);
