@font-face {
    font-family: Mukta;
    src: url('../../fonts/Mukta-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Mukta;
    src: url('../../fonts/Mukta-Bold.ttf');
    font-weight: bold;
}