@use 'colors';
@use 'fonts';
@import 'components/container';
@import 'components/button';
@import 'components/disclaimer';
@import 'components/icon';
@import 'components/popup';
@import 'components/form';
@import 'components/navigation';
@import 'components/list';
@import 'components/scroll-container';

* {
    box-sizing: border-box;
}

html, body {
    height: calc(100%);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font: 18px Mukta, Helvetica, Arial, sans-serif;
    background-image: url('../../images/background.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.logo {
    display: block;
    max-width: 90%;
    margin: 70px auto;
}

h1 {
    font: 32px Mukta, Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-top: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.background {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    height: 100vh;
}