@use 'colors';
@use 'fonts';
@import 'components/container';
@import 'components/logo';
@import 'components/button';
@import 'components/input';
@import 'components/label';
@import 'components/disclaimer';
@import 'components/icon';
@import 'components/popup';
@import 'components/link';
@import 'components/nav';


* {
    box-sizing: border-box;
}

html, body {
    height: calc(100%);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font: 18px Mukta, Helvetica, Arial, sans-serif;
    background-image: url('../../images/background.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

h1 {
    font: 32px Mukta, Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-top: 40px;
    margin: 0;
    margin-bottom: 10px;
}

.background {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    height: 100vh;
}

//Homepagina
.transaction {
    padding:0em 0;
    display: flex;
    align-items: center;

    p {
        margin: 0;
    }

    .transaction-info {
        margin: 0;
        padding: 0;
        line-height: 12px;

        .transaction-name {
            font-size: 14px;
        }
        .transaction-time {
            font-size: 12px;
            color: colors.$lightgray;
        }
    }
    .transaction-amount {
        position: absolute;
        right: 40px;
        color: colors.$tomatored;

        .money {
            font-weight: bold;
        }
    }
}

.transaction--first {
    padding-top: 1em;
}

.separator {
    display: flex;
    margin: auto;
    padding: 0.75em 0;
}

//Transactionpagina
.transaction_header {
    margin-bottom: 1em;
}

.coins {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form--transaction {

    select, textarea {
        display: block;
        width: 100%;
        padding: 2px 6px;
        margin-bottom: 16px;
        border: 1px solid colors.$grayish;
        border-radius: 2em;
        color: colors.$fakeblack;
        font-family: Mukta;
        background: white;
    }
    textarea {
        border-radius: 0.5em;
    }
}

#transaction_type:focus, #transaction_comment:focus {
    outline: none;
    border: 1px solid colors.$coolblue;
}  