.field {
    display: block;
    width: 100%;
    padding: 2px 6px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid colors.$grayish;
    color: colors.$fakeblack;
    font-family: Mukta;
}

.field#password {
    margin-bottom: 42px;
}

.field:focus {
    outline: none;
    border-bottom: 1px solid colors.$coolblue;
}  

.field#transaction_amount {
    width: 25%;
}

.label {
    font-weight: bolder;
    color: colors.$fakeblack;
    margin: 0;
}

.sub-label {
    color: colors.$grayish;
    margin: 0px;
    margin-bottom: 16px;
    font-size: 0.8em;
    line-height: 0.8em;
}

.coins {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transaction_header {
    margin-bottom: 1em;
}

.form--transaction {

    select, textarea {
        display: block;
        width: 100%;
        padding: 2px 6px;
        margin-bottom: 16px;
        border: 1px solid colors.$grayish;
        border-radius: 2em;
        color: colors.$fakeblack;
        font-family: Mukta;
        background: colors.$white;
    }
    textarea {
        border-radius: 0.5em;
    }
}

#transaction_type:focus, #transaction_comment:focus {
    outline: none;
    border: 1px solid colors.$coolblue;
}  