.icon {
    position: relative;
}

.icon img {
    position: absolute;
    right: 10px;
    top: 10px;
}

.icon--eye, .icon--help {
    text-align: center;
}

.icon img.icon--help--history {
    top: 50px;
}

.icon--transaction {
    padding-right: 0.5em;
}

@media only screen and (min-device-width: 768px) {
    .index-layout .icon {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        padding-top: 50px;
    }
}