.label {
    font-weight: bolder;
    color: colors.$fakeblack;
    margin: 0;
}

.sub-label {
    color: colors.$grayish;
    margin: 0px;
    margin-bottom: 16px;
    font-size: 0.8em;
    line-height: 0.8em;
}