@use '../colors';

.list {
    padding-top: 1em;
}

.list__item {
    padding:0em 0;
    display: flex;
    align-items: center;

    p {
        margin: 0;
    }

    .list__item-info {
        margin: 0;
        padding: 0;
        line-height: 12px;

        .list__item--name {
            font-size: 14px;
        }
        .list__item--subtext {
            font-size: 12px;
            color: $lightgray;
        }
    }
    .list__item--amount {
        margin-left: auto;

        .money {
            font-weight: bold;
        }
    }

    .list__item--amount--negative {
        color: $tomatored;
    }

    .list__item--amount--positive {
        color: $moneygreen;
    }

    .list__item--icon {
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        margin-right: 0.5em;
    }

    .list__item--icon.icon-blue {
        background-color: $coolblue;
        box-shadow: 0px 0px 0px 3px $fadedblue;
    }

    .list__item--icon.icon-orange {
        background-color: $fruitorange;
        box-shadow: 0px 0px 0px 3px $fadedorange;
    }

    .list__item--icon.icon-red {
        background-color: $tomatored;
        box-shadow: 0px 0px 0px 3px $fadedred;
    }

    .list__item--icon.icon-green {
        background-color: $moneygreen;
        box-shadow: 0px 0px 0px 3px $fadedgreen;
    }

    .list__item--icon.icon-purple {
        background-color: $grapepurple;
        box-shadow: 0px 0px 0px 3px $fadedpurple;
    }
}

.list__item:hover {
    cursor: pointer;
}

.separator {
    display: block;
    width: 90%;
    margin: auto;
    padding: 0.75em 0;
    background-image: url('/images/separatorline.svg');
    background-repeat: repeat-x;
    background-position: center;
}

@media only screen and (min-device-width: 768px) {
    .index-layout .list {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}