@use '../colors';

.popup {
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: 0.25s opacity;
    overflow: hidden;
}
.popup.popup--visible {
    height: 100vh;
    opacity: 1;
}

.container--popup {
    min-width: 250px;
    text-align: center;
    border-radius: 16px;
    background-color: $white;
    padding: 16px;
}

.color-list {
    padding: 0;
    list-style: none;
    text-align: left;
}

.color-list li {
    display: flex;
    flex-direction: row;
    align-items: center;

     .icon {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        margin: 0 1em;
    }

    .icon-orange {
        background-color: $fruitorange;
    }
    .icon-blue {
        background-color: $coolblue;
    }
    .icon-red {
        background-color: $tomatored;
    }
    .icon-green {
        background-color: $moneygreen;
    }
    .icon-purple {
        background-color: $grapepurple;
    }
}